<app-header></app-header>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="manager-master" routerLinkActive="active" class="nav-link">Base Management</a>
        </li>
        <li class="nav-item">
            <a routerLink="org-master" routerLinkActive="active" class="nav-link">Organization Management</a>
        </li>
        <li class="nav-item">
            <a routerLink="message-service" routerLinkActive="active" class="nav-link">Message Service</a>
        </li>
    </ul>
</nav>
<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>