<div class="card">
  <div class="card-header">
    Message Preview:
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ 'Organization 1' }}</h4>
    <p class="card-text">
      {{message}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>{{ '2,046' }}</b> characters used in message</li>
    <li class="list-group-item">Sent using: <b>{{ '+14569875566' }}</b></li>
    <li class="list-group-item">Subscribed by <b>{{ '1,000' }}</b> viewers</li>
    <li class="list-group-item">Message Cost Estimate: <b>{{ '$2.06' }}</b></li>
  </ul>
</div>
