<div class="card">
  <div class="card-header">Message Preview:</div>
  <div class="card-block">
    <p class="card-text">{{ message }}</p>
    <p class="card-text" style="text-align: right;">- {{ org.subscriptionCode | uppercase }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>{{ message?.length || 0 }}</b> characters used
    </li>
    <li class="list-group-item">
      Subscribers: <b>{{ subscribers || 0 }}</b>
    </li>
    <li class="list-group-item">
      Message Cost Estimate: <b>{{ (subscribers || 0) * 0.005 | currency }}</b>
    </li>
    <li class="list-group-item">
      Text <b>{{org.subscriptionCode | uppercase}}</b> to <b>{{ toPrettyPhone(base.basePhoneNumber) }}</b>
    </li>
  </ul>
</div>
