<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Organization</clr-dg-column>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell>1</clr-dg-cell>
        <clr-dg-cell>Organzation 1</clr-dg-cell>
    </clr-dg-row>
   
    <clr-dg-footer>6 Organizations Managed</clr-dg-footer>
</clr-datagrid>