<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <img src="../../../assets/images/MegaPhoneLogo.svg" alt="" class="megaLogo">
            <span class="title">MEGAPHONE</span>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger>
                {{ user?.email }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Preferences</a>
                <a (click)="logout()" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
