<div class="clr-row">
    <div class="clr-col">
        <clr-datagrid>
            <clr-dg-column>Installation ID</clr-dg-column>
            <clr-dg-column>
                Installation Name
                <clr-dg-string-filter [clrDgStringFilter]="baseFilter"></clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column>Active</clr-dg-column>
            <clr-dg-column>Created Date</clr-dg-column>
            <clr-dg-column>Updated Date</clr-dg-column>

            <clr-dg-row *clrDgItems="let base of bases" [clrDgItem]="base">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="onEdit(base)">Edit</button>
                    <button class="action-item" (click)="onView(base)">View</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{base.id}}</clr-dg-cell>
                <clr-dg-cell>{{base.baseName}}</clr-dg-cell>
                <clr-dg-cell>{{base.IsActive === true ? 'Not Active' : 'Active'}}</clr-dg-cell>
                <clr-dg-cell>{{base.createdAt | date}}</clr-dg-cell>
                <clr-dg-cell>{{base.updatedAt | date}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} Bases
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
        <div style="margin-top:1rem;">
            <button class="btn btn-primary">Create A New Base</button>
        </div>
    </div>
    <div class="clr-col">
        Selected base: <span *ngIf="selected">{{base.baseName}}</span>
    </div>
</div>
